<header id="">
	<nav class="links" style="--items: 5;">
		<a href="#">Dashboard</a>
        <a href="#">Customer(s) Detail</a>
        <a href="#">Employee(s) Detail</a>
        <a href="#">Registration</a>
		<a href="#">Tally</a>
		<span class="line"></span>
	</nav>
</header>



<div class="content">
    <h2 style="text-align: center; margin-bottom: 20px;">Customer Details</h2>
      <div class="container-fluid">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Received On</th>
                <th scope="col">Paid On</th>
                <th scope="col">Complited On</th>
                <th scope="col">Purpose</th>
                <th scope="col">Visit Count</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mohamed Ashraf Ali</td>
                <td>22/10/2020</td>
                <td>22/10/2020</td>
                <td>22/10/2020</td>
                <td><i class="icofont-visa icofont-2x"></i></td>
                <td> <i style="color:green">20</i></td>
                <td><i class="icofont-check-alt icofont-2x"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Salim</td>
                <td>22/10/2020</td>
                <td>22/10/2020</td>
                <td>22/10/2020</td>
                <td><i class="icofont-air-ticket icofont-2x"></i></td>
                <td> <i style="color:green;">102</i></td>
                <td><i class="icofont-warning icofont-2x"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
</div>